@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
h1{
    text-align: center;

}
li{
    display: inline-block;
    color: rgba(119, 119, 119, 0.561);
    
}
h5{
    color: red;
}
p{
    text-align: justify;
    font-weight: 100;
}
.inline1{
    float: left;
    width: 18em;
    height: auto;
    padding: 5px;
}
.inline2{
    float: right;
    width: 18em;
    height: auto;
    padding: 5px;
}
a{
    text-decoration: none;
    color: rgba(119, 119, 119, 0.561);
    font-size: 13px;
}
.newspaper-container{
    padding: 10%;
    margin: auto;
    background-color:white;
    border-radius: 2%;
    box-shadow: 5px 10px #4e4c4c;
    
    
}
body{
    background-color: grey;
    padding: 40px;
    
    
}
